body
{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 0;
}

#loadingContainer
{
    height: 100vh;
    width: 100vw;
    z-index: 1000000;
    position: fixed;
    opacity: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    & .loadingScreen {
        width: 60px;
    }
      
    & .loadingWheel {
        animation: spin 1s infinite linear;
        border: 2px solid gray;
        border-left: 4px solid black;
        border-radius: 50%;
        height: 50px;
        margin-bottom: 10px;
        width: 50px;
    }
      
    & .loadingText {
        color: black;
        font-family: arial, sans-serif;
    }
      
    & .loadingText:after {
        content: 'Loading';
        animation: load 2s linear infinite;
    }
}

#divContainer
{
    padding: 1rem 2rem;
    border-radius: .5rem;
    height: 80%;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 3px gray;

    #divTblContainer
    {
        height: inherit;
        border: 1px solid lightgray;
        border-radius: .25rem;
        cursor: pointer;

        & thead
        {
            position: sticky;
            top: 0px;
            box-shadow: 0 0 3px gray;

            & th i
            {
                float: right !important;
            }
        }
    }
}

#mdlTblFilter .modal-body
{
    height: 50vh;
    
    & .filterCategoryContainer
    {
        height: 50%;

        & .filterOptContainer
        {
            height: 100%;
            overflow-y: auto;
        }
    }
}


@keyframes spin 
{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes load 
{
    0% {
      content: 'Loading';
    }
    33% {
      content: 'Loading.';
    }
    67% {
      content: 'Loading..';
    }
    100% {
      content: 'Loading...';
    }
}